body{
    background-color: #f70aff;
    color: rgb(255, 255, 255)
}
.cabecalho {
    background-color: #383D58;
    color: white;
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
    }

.escola-imagem{
    width: 20%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

   .formula {
        width:10%;
        height:40% ;
        }
.escola-imagem {
    width: 25%;
}

.estudantes {
    width: 288px;
}